{% extends '@Admin/' ~ app.request.attributes.get('active_site').templatePath ~ '/base.html.twig' %}

{% block title %}{{ 'Page' | trans}} {{ 'items' | trans }} {% endblock %}
{% block h1 %}{{ 'Page' | trans}} {{ 'items' | trans }}  {% endblock %}

{% block h1_right %}
    <div class="text-end">
        <a class="btn btn-outline-primary" href="{{ path('app_basket_page') }}">{{ 'Pages' | trans}} {{ 'basket' | trans }} </a>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {% set parentPath = (parent.parent is defined and parent.parent is not null ? parent.parent.uuid : null) %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_page_main') }}">{{ 'Home' | trans }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_main') }}">{{ 'Admin' | trans }}</a></li>
            {% if sectionMain.routeName is defined and sectionMain.routeName is not empty %}
                <li class="breadcrumb-item"><a href="{{ path('app_page_section_items_admin') }}">{{ sectionMain.title is not empty ? sectionMain.title : sectionMain.name | trans }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{ 'Page' | trans}} {{ 'items' | trans }}</a></li>
        </ol>
    </nav>
{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'Name' | trans }}</th>
            <th class="text-end">
                {% if parent is defined and parent is not null %}
                    <a href="{{ path('app_page_items_admin') }}">{{ 'Top' | trans }}</a> |
                    <a href="{{ path('app_page_items_admin', {parent: (parent.parent is defined and parent.parent is not null ? parent.parent.uuid : null)}) }}">{{ 'Parent' | trans }}</a>
                {% endif %}
            </th>
        </tr>
        </thead>
        <tbody>

        {% for page in pagination %}
            <tr>

                <td><a href="{{ path('app_page_update', {'uuid': page.uuid}) }}">{{ page.name }}</a> </td>
                <td class="text-end">
                    {% set isAllowCreateSubBage = page.type == constant('MartenaSoft\\\CommonLibrary\\\Dictionary\\\DictionaryPage::SECTION_TYPE') %}
                    {% include '@Admin/' ~ app.request.attributes.get('active_site').templatePath ~ '/_view_admin_sub_menu.html.twig' with {
                        noDivider: true,
                        items: [
                            {
                                title: 'Show',
                                path: (page.slug == '/' ? path('app_page_main') : path(page.routeName, {slug: page.level == 1 ? null : page.menu.fullPath}) ),
                                attr: 'target="_blank"'
                            },
                            {
                                title: 'Edit',
                                path: path('app_page_update', {'uuid': page.uuid}),
                            },
                            {
                                title: 'Delete',
                                path: path('app_delete_page_safe', {'uuid': page.uuid}),
                                attr: "onclick='return confirm(\"Delete this page\")'"
                            },
                        ]
                    }%}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">
                    {% include '@Admin/' ~ app.request.attributes.get('active_site').templatePath ~ '/no_records_founds.html.twig' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
